
/* Sets background image and sets up flexbox*/
body {
    background-image: url("Assets/Images/hex-bg.jpg"); /* Photo by Andrea leopardi on Unsplash */
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 
    NavBar 
*/

/* Remove padding, prevent wrap on _extremely_ small screen */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    min-width: 301px;
}

.navbar-light .navbar-brand {
    background-color: #24cac5;
    font-weight: bold;
    font-family: 'Radley', serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
}


/* Adds horizontal margin on navbar container */
.container-fluid {
    margin: 0 2rem;
}

/* Where the content lives! */
.container-sm {
    background: white;
    max-width: 60%;
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 2rem;
}

.col>h1 {
    color: #24cac5;
}

/* 
    About page fine tunings 
                            */

#aboutImg {
    float: left;
    margin-right: 1.5rem;
    max-width: 150px;
}

div#aboutMeRow.row {
    padding: 0;
}

#aboutMeCol {
    padding: 0;
}

/* Hover effect for anchor tagged thumbnails in portfolio */
a .img-thumbnail:hover {
    background-color: #24cac5;
    opacity: 0.5;
}

/* Button on contact page */
.btn {
    color: white;
    background-color: #24cac5;
}

/* Allows the footer to stick */
.fixed-bottom {
    position: sticky;
}


/* 
    MEDIA QUERIES 
                  */


/* Medium screens */
@media only screen and (max-width: 768px) {
    .container-sm {
        max-width: 65%;
    }
}


/* Small screens */
@media only screen and (max-width: 576px) {
    .container-sm {
        margin-top: 2rem;
        max-width: 75%;
    }
    
}
/* Extra Small Screens */
@media only screen and (max-width: 414px) {
    .container-sm {
        max-width: 100%;
        margin: 4rem 0;
        padding: 1rem;
    }
}
