html {
    /* height: 100%;
    padding: 0;
    margin: 0 auto; */
    max-height: 1080px;
    max-width: 1920px;
}

/* 
    NavBar 
*/

.navbar-light .navbar-brand {
    background-color: #24cac5;
    font-weight: bold;
    font-family: 'Radley', serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.navbar>.container-fluid>button.navbar-toggler{
    justify-content: flex-end;
}

body {
    /* Photo by Andrea leopardi on Unsplash */
    background-image: url("assets/Images/hex-bg.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    background-color: black;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Margin for Navbar container */
.container-fluid {
    margin: 0 3%;
}

div#AboutMe.container {
    color: #24cac5;
    background-color: white;
    /* margin-top: 8vh; */
    /* padding: 0 8%; */
    padding: 0;
}

#AboutMe p {
    color: black;
}

div#AboutMe.container {
    margin: 10% 2%;
    padding: 5%;
}

/* div.col {
    padding: 0 8%;
} */

h1 {
    margin: 0;
    margin-top: 10px;
    font-family: 'Radley', serif;
    /* vertical-align: center; */
}

.img-thumbnail {
    float: left;
    margin-right: 15px;
}

footer {
    margin-top: auto;
    border-top: solid 5px cyan;
    align-self: bottom;
    background-color: gray;
    /* display: flex; */
}

.col-12 {
    padding: 0;
}