
/* Sets background image and sets up flexbox*/
body {
    background-image: url("assets/Images/hex-bg.jpg"); /* Photo by Andrea leopardi on Unsplash */
    background-position: 60%;
    background-repeat: repeat-y;
    background-color: black;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 
    NavBar 
*/

/* Remove unnecessary padding */
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    padding: 0;
}

.navbar-light .navbar-brand {
    background-color: #24cac5;
    font-weight: bold;
    font-family: 'Radley', serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
}


/* Adds horizontal margin and removes padding on navbar container */
.container-fluid {
    margin: 0 2rem;
}


/*******************
    Contact Page
********************/

.container-sm {
    background: white;
    color: #24cac5;
    max-width: 60%;
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 2rem;
}

.btn {
    color: white;
    background-color: #24cac5;
}


/* 
    MEDIA QUERIES 
                  */


/* Medium screens */
@media only screen and (max-width: 768px) {
    .container-sm {
        max-width: 65%;
    }
}


/* Small screens */
@media only screen and (max-width: 576px) {
    .container-sm {
        margin-top: 2rem;
        max-width: 75%;
    }
    
}
/* Extra Small Screens */
@media only screen and (max-width: 414px) {
    .container-sm {
        max-width: 100%;
        margin: 2rem 0;
        padding: 1rem;
    }
}
