/* Sets background image and sets up flexbox*/
body {
    background-image: url(../images/hex-bg.jpg); /* Photo by Andrea leopardi on Unsplash */
    background-color: hsl(0, 0%, 9%);
    background-attachment: fixed;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 
    NavBar 
*/

/* Prevent wrapping */
.nowrap {
    flex-wrap: nowrap;
}

.navbar-light .navbar-brand {
    font-family: 'Radley', serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    text-shadow: 3rem black;
}


/* Adds horizontal margin on navbar container */
.container-fluid {
    margin: 0 2rem;
}

/* Where the content lives! */
.container-sm {
    background: white;
    max-width: 60%;
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 2rem;
}

.col>h1 {
    color: #24cac5;
}

/* 
    About page fine tunings 
                            */

#aboutImg {
    float: left;
    margin-right: 1.5rem;
    max-width: 150px;
}

div#aboutMeRow.row {
    padding: 0;
}

#aboutMeCol {
    padding: 0;
}

/* Hover effect for anchor tagged thumbnails in portfolio */
a .img-thumbnail:hover {
    background-color: #24cac5;
    opacity: 0.5;
}

/* #portImg > div {
    margin-bottom: 1rem;
}

#portImg > div > p {
    margin: 0;
    text-align: center;
} */

.projects-wrapper img {
    max-width: 100%;
    max-height: 200px;
}

.project-div:not(:last-of-type) {
    margin-bottom: 3rem;
}

/* Hover effect for anchor tagged image in index */
a #aboutImg:hover {
    border: solid 4px #24cac5;
    opacity: 0.8;
}

/* Button on contact page */
.btn {
    color: white;
    background-color: #24cac5;
}

.group-projects {
    margin-top: 3rem;
}

.projects-wrapper h2 {
    margin-bottom: 2rem;
}

/* 
    MEDIA QUERIES 
                  */


/* Medium screens */
@media only screen and (max-width: 768px) {
    .container-sm {
        max-width: 65%;
    }
}


/* Small screens */
@media only screen and (max-width: 576px) {
    .container-sm {
        margin-top: 2rem;
        max-width: 75%;
    }
    
}
/* Extra Small Screens */
@media only screen and (max-width: 414px) {
    .container-sm {
        max-width: 100%;
        margin: 4rem 0;
        padding: 1rem;
    }
}